<div class="bg-white md:w-3/4 lg:w-2/5 mx-auto my-6 shadow rounded p-6">
  <h1 class="text-3xl text-center mb-3 font-bold">New Task</h1>

  <%= render 'form', task: @task, category: Category.find(params[:category_id]) %>

  <div class="text-indigo-500 font-semibold mt-3">
    <%= link_to 'Back', tasks_path %>
  </div>
</div>
